!/cockpit/
cockpit/*
!cockpit/userpages/
!cockpit/ajax/
!cockpit/include
cockpit/include/*
!cockpit/include/get_tree.func.php
!cockpit/include/index_extra.php
!cockpit/include/spinnerz.inc.php
!cockpit/include/spinnerz-local.inc.php
!cockpit/excelexport.php
!cockpit/excelexport-ta.php
psd/
test.php
video/
images/
upload/

git
.DS_Store
config.codekit3