table thead tr {
	background-color:#CCC;
}
@media print {
    #top, #navigatie, table.menu, a.btn {
        display:none;
    }

    #main {
        background-color: #FFF;
    }
}

td.no_wrap {
    white-space: nowrap;
}
