@charset "UTF-8";

/* CSS Document */

body {
	font-family: helvetica;
	color:#666;
	background: #e0e0e0 url('./images/bg.png') repeat;
	margin:0;
	padding:0;
	font-size: 13px;
}

a:link,a:visited {
	color:#5e5e5e;
	text-decoration:none;
}

a:hover {
	color:#b70032;
}

#navigatie {
	width:auto;
	float:left;
	background-color:#f6f6f2;
	padding:10px;
	font-size: 13px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin:0 16px;
	-moz-box-shadow:3px 3px 4px #dadada;
/* Firefox/Mozilla */
	-webkit-box-shadow:3px 3px 4px #dadada;
/*Safari/Chrome */
	box-shadow:3px 3px 4px #dadada;
/* Opera & hoe het zou moeten */
/* Voor IE 8 */
	-ms-filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#dadada');
/* Voor IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#dadada');
}

#main {
	float:left;
	width:auto;
	background-color:#f6f6f2;
	padding:10px;
	margin-bottom:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:3px 3px 4px #dadada;
/* Firefox/Mozilla */
	-webkit-box-shadow:3px 3px 4px #dadada;
/*Safari/Chrome */
	box-shadow:3px 3px 4px #dadada;
/* Opera & hoe het zou moeten */
/* Voor IE 8 */
	-ms-filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#dadada');
/* Voor IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#dadada');
}

.bar {
	margin-right:1px;
	margin-left:1px;
	z-index:1;
	background-color:#81BEF7;
	font-size:.8em;
	overflow:hidden;
}

#top {
	height:120px;
	background-image:url(./../images/logotop.png);
	background-color:#2e2e2c;
	background-position:left top;
	background-repeat:no-repeat;
	border-bottom:solid 5px #E21836;
	margin-bottom:18px;
}

#top p {
	padding:50px 0 0 350px;
}

#top img {
	vertical-align:middle;
}

#top a:link,#top a:visited {
	color:#fff;
	font-weight:700;
}

#top a:hover {
	color:#E21836;
}

.ganaarwebsite {
	font-family:helvetica;
	font-size:14px;
	margin-top:30px;
}

h2 {
	color:#25aae1;
	font-weight:400;
}

.kopmenu {
	font-size:12px;
	font-weight:700;
	margin:0;
	line-height:12px;
	padding:0;
}

p {
	font-size:15px;
}

td {
	vertical-align:top;
	font-size:13px;
	padding:8px;
}

table p {
	font-size:15px;
}

tr {
	font-size:15px;
	line-height: 1;
}


.checkbox {
	width:19px;
	display:block;
	float:left;
	list-style-position:outside;
}

table.stats {
	width:900px;
	font-size:15px;
}

table.stats td {
	padding-left:4px;
}

table.stats thead tr {
	font-weight:700;
	background-color:#838181;
	color:#FFF;
	
}

table.stats tr.light {
	background-color:#FEFEFE;
}

table.stats tr.dark {
	background-color:#DDD;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

.top {
	width:900px;
}

.bewerken {
	text-transform:uppercase;
	color:#383838;
	font-weight:700;
	font-size:16px;
	padding-left:4px;
	padding-bottom:4px;
	font-family:helvetica;
}

#main hr {
	border:0;
	color:#000;
	background-color:#fff;
	height:2px;
	width:98%;
	text-align:center;
}

input[type=text], td.input[type=text]  {
	border:1px solid #e5e5e1;
	width:540px;
	padding:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-size: 13px;
}

.form {
	width:230px;
	font-family:helvetica;
	float:left;
	text-align:right;
	margin-right:.2em;
	display:block;
	text-align:left;
	line-height: 3;
	text-transform:uppercase;
	color:#535353;
	font-size:13px;
	
}

.button1 {
 
    font-family: Verdana, Geneva, sans-serif;
    font-size: 19px;
    color: #FFF;
    padding: 5px 10px 5px 10px;
    border: solid 1px #CCC;
 
    background: #b70032;
    text-shadow: 0px 1px 0px #000;
 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
 
    box-shadow: 0 1px 3px #111;
    -moz-box-shadow: 3px 3px 1px #999;
    -webkit-box-shadow: 3px 3px 1px #999;
 
    cursor: pointer;
 
}
.button1:hover {
    background: #7c1d37;
}


.aanpassing {
 
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #FFF;
    padding: 5px 10px 5px 10px;
    border: solid 1px #CCC;
 
    background: #b70032;
    text-shadow: 0px 1px 0px #000;
 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
 
    box-shadow: 0 1px 3px #111;
    -moz-box-shadow: 3px 3px 1px #999;
    -webkit-box-shadow: 3px 3px 1px #999;
 
    cursor: pointer;
    line-height: 60px;
 
}

a img {border:none;}

tr {line-height: 2;}

/* Top boven buttons statistieken enzo */
.buttonsboven {margin-left:380px; padding-top:50px; color:#8b8888;}
.buttonsboven a:link, .buttonsboven a:visited {color:#8b8888 !important;}
.buttonsboven a:hover {color:#e20644 !important}


input[type="radio"] {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
                      -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
    border-radius: 10px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8),
                0 0 0 1px hsla(0,0%,0%,.6),
                0 2px 3px hsla(0,0%,0%,.6),
                0 4px 3px hsla(0,0%,0%,.4),
                0 6px 6px hsla(0,0%,0%,.2),
                0 10px 6px hsla(0,0%,0%,.2);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
    margin-top:-8px;
    margin-left:3px;
}
input[type="radio"]:after {
    background-color: #444;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}
input[type="radio"]:checked:after {
    background-color: #f66;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                inset 0 2px 2px hsla(0,0%,100%,.4),
                0 1px 1px hsla(0,0%,100%,.8),
                0 0 2px 2px hsla(0,70%,70%,.4);
}​